dist
cabal-dev
*\.yas*
*.dSYM
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
lib*.a
cabal.sandbox.config
cabal.config
encorec
release
GPATH
GRTAGS
GTAGS
.DS_Store
/.emacs.desktop
/.emacs.desktop.lock
/src/runtime/closure.make
/src/runtime/future.make
/src/runtime/set.make
/src/runtime/obj/
/src/runtime/Makefile
/src/tests/encore/basic/embed-multiline-bug
/src/tests/encore/basic/let-arguments
/src/tests/encore/basic/let-fields
