dist
cabal-dev
*\.yas*
*.dSYM
*.o
*.hi
*.dyn_hi
*.dyn_o
*.chi
*.chs.h
*~
\#*\#
.virtualenv
.hsenv
.cabal-sandbox/
lib*.a
cabal.sandbox.config
cabal.config
doc/encore/build/
doc/html/
encorec
release
GPATH
GRTAGS
GTAGS
.DS_Store
.vagrant
/.emacs.desktop
/.emacs.desktop.lock
/src/runtime/closure.make
/src/runtime/future.make
/src/runtime/set.make
/src/runtime/obj/
/src/runtime/Makefile
src/tests/encore/basic/*
!src/tests/encore/basic/*.enc
!src/tests/encore/basic/*.out
!src/tests/encore/basic/*.chk
!src/tests/encore/basic/*.fail
!src/tests/encore/basic/*.flags
src/tests/encore/stdlib/*
!src/tests/encore/stdlib/*.enc
!src/tests/encore/stdlib/*.out
!src/tests/encore/stdlib/*.chk
!src/tests/encore/stdlib/*.fail
!src/tests/encore/stdlib/*.flags
src/tests/encore/concurrency/*
!src/tests/encore/concurrency/*.enc
!src/tests/encore/concurrency/*.out
!src/tests/encore/concurrency/*.chk
!src/tests/encore/concurrency/*.fail
!src/tests/encore/concurrency/*.flags
src/tests/encore/modules/*
!src/tests/encore/modules/**/
!src/tests/encore/modules/*.flags
!src/tests/encore/modules/*.enc
!src/tests/encore/modules/*.out
!src/tests/encore/modules/*.chk
!src/tests/encore/modules/*.fail
src/tests/encore/par/*
!src/tests/encore/par/*.enc
!src/tests/encore/par/*.out
!src/tests/encore/par/*.chk
!src/tests/encore/par/*.fail
!src/tests/encore/par/*.flags
src/tests/encore/traits/*
!src/tests/encore/traits/*.enc
!src/tests/encore/traits/*.out
!src/tests/encore/traits/*.chk
!src/tests/encore/traits/*.fail
!src/tests/encore/traits/*.flags
/.dist-buildwrapper/
.project
.stack*
coverage/
encorec.tix
