# Makefiles
Makefile
*.make

Build

# Visual Studio files
*.vcxproj*
*.sln
*.suo
*.opensdf
*.sdf

# Binaries
bin

# Object files
obj
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# System files
*.DS_Store
